rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /test/{docId} {
      allow read, write: if true;
    }

    match /users/{userId} {
      allow read, write: if true;
    }

    match /customers/{customerId} {
      allow read, write: if true;
    }

    match /drivers/{driverId} {
      allow read, write: if true;
    }

    match /dispatches/{dispatchId} {
      allow read, write: if true;
    }

    match /audit_logs/{logId} {
      allow read, write: if true;
    }
  }
}
